/* Fill CSS here */

.h1{
    text-align: center;
    word-spacing: 20px;
    text-transform: uppercase;
    color: #2b619e;
    text-decoration: underline;
    font-family: "Slabo 27px", serif;
    font-style: normal;
    font-weight: 500px;
}

form{
    display: inline;
    border: 1px solid red;
    margin-left: 40px;
}

.submit{
    /* padding: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    color: white;
    background-color: #2b619e;
}