*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F1F4FD;
}

.container{
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {

    position: relative;
}

.slider-wrapper .slidebutton{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);

}

.slider-wrapper .slidebutton:hover{

    background: #444;
}

.slider-wrapper .slidebutton#prev-slide{

    left: -20px;
    display: none;
}

.slider-wrapper .slidebutton#next-slide{

    right: -20px;
}

.slider-wrapper .img-list{

    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(20,1fr);
    
}

.slider-wrapper .img-list::-webkit-scrollbar{
    display: none;

}

.slider-wrapper .img-list .img{
    width: 325px;
    height: 400px;
    object-fit: cover;
}